# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Secrets
.env

# Data (large files)
src/data/silver_export/
src/data/raw/*.zip
data/raw/*
!data/raw/.gitkeep

# Build artifacts
target/
dbt_packages/
*.deb
*.zip

# OS
.DS_Store
Thumbs.db

# LibreOffice lock files
*.~lock.*

# Logs
logs/*.log

# dbt
src/dbt/energy_platform/.user.yml
src/dbt/energy_platform/package-lock.yml
